@import '../../styles/tas.theme.scss';

$overflow-type: hidden;
$padding-small: 8px;

.text-adventure-root {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;

  .row {
    margin: 0;
  }

  .output-container-wrapper {
    padding: $padding-small;

    flex: 1 1 auto;

    overflow: $overflow-type;
    display: flex;
    flex-direction: column-reverse;

    .output-container {
      text-overflow: ellipsis;
      display: flex;

      .input-line {
        font-style: italic;
      }
    }
  }

  .input-container-wrapper {
    flex: 0 0 auto;

    .input-container {
      form {
        .form-group {
          input {
            border-radius: 0px;
            border-width: 0px;

            width: 100%;
            padding: $padding-small;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
          }
        }
      }

    }

  }
}
