$primary-color: #1c7ac4;
$primary-dark-color: #2653a6;
$primary-contrast-color: #ffffff;
$primary-light-color: #35a2f0;

$secondary-color: #c41c1c;
$secondary-dark-color: #a62626;
$secondary-contrast-color: #ffffff;
$secondary-light-color: #f03535;

$background-color: #222222;
$text-color: #ddd;