/* This file contains all styles, that are global */
@import './colors.scss';
@import './dimensions.scss';


html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-family;
  
  background: $background-color;
  color: $text-color;
}
